/* Phoenix flash messages */
.alert:empty { display: none; }

.alert-info {
  background-color: #e3f2fd;
  color: #1565c0;
  padding: 12px 25px;
  border-radius: 8px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  position: absolute;
  left: 43%;
  transform: translate(0%, -43%); 
}

/* phoenix error_tag element */
.help-block {
  color: #f48fb1;
  text-transform: capitalize;
}

.form-group #topic_title {
  margin-top: 30px;
  margin-bottom: 0px;
}

#submit_topic_button {
  margin-top: 12px;
}
